#header-wrapper {
  background-color: #E74C3C;
  opacity: 1;
  border-bottom: 3px solid #C0392B;
}
#header {
  padding: 1%;
  text-align: center;
  font-size: 150%;
  font-family: Bungee;
}
#form-wrapper {
  margin-top: 2%;
}
#event-form {
  display: none;
}
#department-wrapper {
  margin-left: 6%;
}
#submit {
  margin-top: 5%;
  margin-left: 43%;
}
.box  {
  background-color: #EE8E84;
  margin: 5px;
}
.box:hover {
  background-color: #DD4A3A;
}
