
#days {
  padding-top: 10vh;
}

.tab-content {
  padding-top: 10vh;
}

td {
  letter-spacing: 2px;
  padding: 10px 0px !important;
  text-transform: uppercase;
}

th {
  letter-spacing: 4px;
  padding: 10px 20px !important;
  color: #ffffff;
  font-size: 20px;
  font-family: Bungee;
  text-align: center;
  background-color: #3d3dff;
  font-weight: normal;
}
