body {
  overflow-x: hidden;
}

#logo {
  font-family: Bungee;
}

.slider-size {
  height: 900px;
}

.carousel {
  width:100%;
  margin:0 auto;
}

.carousel-inner img {
  margin: 0 auto;
  width: 100%;
  height: 500px !important;
}

/* Mobile */
@media (max-width: 767px) {
  .carousel-inner img {
    height: auto !important;
  }
}

/* tablets */
@media (max-width: 991px) and (min-width: 768px) {
  .carousel-inner img {
    height: auto !important;
  }
}

/* laptops */
@media (max-width: 1023px) and (min-width: 992px) {
  .carousel-inner img {
    height: 800px !important;
  }
}

/* desktops */
@media (min-width: 1024px) {
  .carousel-inner img {
    height: 800px !important;
  }
}

.navbar {
  letter-spacing: 4px;
  margin-bottom: 0px;
  border-radius: 0;
  border: 0;
  margin-right: 0px;
  opacity: 1;
}

.navbar-default {
  background-color: transparent;
}

.navbar .navbar-brand, .navbar li a {
  color: #ffffff !important;
  font-weight: 600;
}

.navbar-nav li.active a, .navbar-nav li a:hover{
  color: #7777ff !important;
  background-color: #ffffff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-toggle {
  background-color: transparent;
}

.navbar-toggle:hover {
  background-color: #ffffff !important;
}

.jumbotron {
  background-color: #7777ff !important;
  color: #ffffff !important;
  margin-bottom: 0px;
  margin-right: 0px;
}

#leaderboard {
  background-image: url('../images/leaderboard_bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 10% 0;
}

td {
  letter-spacing: 2px;
  padding: 20px 0px !important;
  text-transform: uppercase;
}

th {
  letter-spacing: 4px;
  padding: 20px 20px !important;
  color: #ffffff;
  font-size: 20px;
  font-family: Bungee;
  text-align: center;
  background-color: #3d3dff;
  font-weight: normal;
}

@media screen and (max-width: 480px) {
  th {
    font-size: 15px;
  }
}

#events {
  background-color: #ffffff;
  padding: 10% 0;
}

#events_score {
  background-color: #ddddff;
  padding: 10% 0;
}
